@{ Layout = null; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a "A Todo Bagley"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!-- [if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int">
  <div class="site-container">
    <header>
      <a href="javascript;" class="btn menu-open"><span class="fa fa-navicon"></span>Menú</a>
      <a href="~/Contacto" class="btn contacto"><span class="fa fa-comment"></span>Contacto</a>
    </header>
    <section class="toldo">
      <h1><a href="~/">A Todo Bagley</a></h1>
    </section>
    <main class="conElems">
      <div class="wrapper">
        <h2>Bases y&nbsp;condiciones</h2>
        <div class="textos">
          <div class="nano">
            <div class="nano-content">
              <p>1.- La participación en la promoción “A TODO BAGLEY”, en adelante “La Promoción” organizada por Bagley Argentina S.A, con domicilio en Av. Marcelino Bernardi 18, Arroyito, Provincia de Córdoba, Argentina, en adelante “El organizador”, implica el total conocimiento y aceptación de las bases de esta, como así también los procedimientos o sistemas establecidos por el organizador.</p>
              <p>2.- La vigencia y validez en el territorio de la República Argentina, excepto las provincias de Tierra del Fuego, Río Negro y Neuquén será desde el día 15/02/21 a las 12:00 hs hasta el 15/04/21 a las 18:00 hs. Solo podrán participar quienes residan en el territorio de validez de la promoción y sean mayores de 13 años. El organizador no verificará la identidad de los participantes, ni la veracidad, vigencia o autenticidad de los datos que los participantes informen a los efectos de la participación.</p>
              <p>3.- <u>Productos participantes</u>: Participan los productos que estén identificados con la promoción de las marcas: Surtido Bagley, Rumba, Amor, Mellizas, Chocolinas, Merengadas, Sonrisas y Opera identificadas con la promoción en adelante “El Producto”.</p>
			  <p>4.- <u>Detalles, mecánica y asignación de premios de la promoción</u>:</p>
              <p>a) Generalidad:</p>
              <p>Podrán participar de la presente promoción, quienes ingresen a la página web www.promobagley.net informen sus datos personales y los datos del producto con el que participan. Quienes así lo hagan se denominarán en adelante “participantes”. </p>
              <p>b) Registro y participación:</p>
              <p>Los participantes deberán seleccionar la marca del producto con el que participan; e ingresar los siguientes datos personales: Nombre, Apellido, Número de Documento Nacional de Identidad, fecha de nacimiento, domicilio completo, provincia,  código postal, Ciudad, teléfono y email. Luego deberá ingresar los siguientes datos del envase del producto participante: marca, fecha de vencimiento. </p>
              <p>Deberá conservarse el envase de los productos participantes que se hayan ingresado para participar e indicar que acepta las bases y condiciones. La información que el Participante proporcione sólo se utilizará a los efectos de esta promoción, a menos que indique al registrarse que acepta recibir información comercial o promocional de los productos y la empresa</p>
              <p>El organizador no verificará la identidad de los participantes, ni la veracidad, vigencia o autenticidad de los datos que los participantes informen a los efectos de la participación, pero podrá verificar la veracidad de los datos informados por quienes resulten acreedores de premios a los efectos del punto 10 de las presentes bases.</p>
              <p>El organizador no garantiza que los participantes actúen de conformidad con estas bases y condiciones ni que participen de manera honesta y diligente. </p>
              <p>Bagley Argentina respeta y protege la privacidad de los usuarios del sitio. Los datos que los usuarios ingresen a los fines de su registración no serán revelados a terceros sin su consentimiento a menos que sean solicitados mediante un requerimiento judicial. </p>
              <p>Conforme el Artículo 6 de la Ley 25.326 de Protección de Datos Personales el titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326. Podrán hacerlo comunicándose en forma gratuita al 0800-333-3033.</p>
              <p>La AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, órgano de control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan quienes resulten afectados en sus derechos por incumplimientos de las normas vigentes en materia de protección de datos personales.</p>
              <p>c) Pregunta: Si al momento de registrar la participación hubiera algún premio disponible, el participante recibirá una pregunta con opción de respuesta múltiple relacionada con la empresa, los productos participantes o de cultura general.  Deberá seleccionar y enviar la respuesta correcta de entre las tres opciones de respuesta ofrecidas para poder resultar acreedor del premio.  Quien responda en forma correcta y más rápidamente resultara acreedor del premio.</p>
              <p>d) Mecánica premios </p>
              <p>Los participantes que ingresen los datos requeridos en función de los procedimientos señalados participarán por los premios instantáneos y sorteo ofrecidos. El participante que haya resultado acreedor de un premio instantáneo no podrá resultar acreedor de otro, pero podrá participar por el sorteo. </p>
              <p>- Inserción de premios y asignación </p>
              <p>En forma previa al inicio de la promoción se realizará por ante escribano público, la determinación de horarios en que se asignarán los premios instantáneos durante la vigencia, y las preguntas de conocimiento y/o el producto participante, con sus opciones de respuesta y la respuesta correcta mediante acta que conservará el escribano en custodia hasta la finalización de la promoción.</p>
              <p>El premio cine en casa se sorteará entre todas las participaciones ingresadas durante la vigencia de la promoción ante escribano público. El día 22/04/21 a las 15:30 horas en Maipú 1210 2° piso CABA, se extraerá 01 (un) titular y 02 (dos) suplentes en caso de que no se pudiera establecer contacto con el titular en base a los datos informados por el participante.</p>
              <p>- Constatación del Sistema</p>
              <p>Con posterioridad a la inserción de premios y en forma previa al inicio de la promoción se constatará por ante escribano la entrega de la información relativa a la asignación de premios al proveedor del servicio de desarrollo y administración del sistema informático que se utilizará para la presente promoción –en adelante El Sistema-, finalizada dicha gestión y también en forma previa al inicio de la vigencia de la promoción el escribano constatará que la información haya sido ingresada correctamente al Sistema mediante el uso de una clave informática especial que el proveedor le proporcionará al efecto y que le permitirá realizar esa verificación a través de Internet. En función de todo ello el escribano volverá a labrar la correspondiente acta de constatación.</p>
              <p>- Adjudicación definitiva</p>
              <p>Finalizada la promoción y en forma previa a la adjudicación definitiva de los premios, el escribano interviniente en presencia de personal del organizador constatará que los datos de los participantes potenciales ganadores de premios instantáneos correspondan al modo establecido de asignación de premios certificado antes del inicio de la promoción. Se destaca que quienes resulten acreedores de premios instantáneos serán considerados potenciales ganadores hasta tanto den cumplimiento a los requisitos establecidos en las presentes bases y condiciones (puntos 4, 10 y 13).</p>
			  <p><u>5- Premios que otorga la promoción</u></p>
              <p>8 premios Instantáneos:</p>
              <p>• <u>02 (dos) Combos gamer</u>: compuesto cada uno por 01 Metegol y 01 Mesa de Tejo.</p>
              <p>• <u>02 (dos) Combos tarde en casa</u>: compuesto cada uno por 1 karaoke, 1 ping pong plegable, y los siguientes juegos: 1 Monopoly, 1 Picktionary, 1 Pintureka, 1 Yenga, 1 Monkey Loco, 1 Twister.</p>
              <p>• <u>02 (dos) Combos paseo</u>: compuesto cada uno por 02 bicicletas rodado 26 playeras unisex con freno, 2 monopatines, y 1 skate.</p>
              <p>• <u>02 (dos) Combos campamento</u>: compuesto cada uno por 1 carpa para 4 personas, 4 bolsas de dormir, 1 mochila capacidad de 60lt.</p>
              <p><u>Sorteo</u>:</p>
              <p>• <u>01 (un) Cine en Casa</u>: compuesto por 1 Pantalla eléctrica 100 pulgadas, 1 Proyector, 1 Pochoclera, 1 Sillón Grande (3 cuerpos), 2 Sillones Reclinables tipo Poltronas de madera Forradas en eco cuero, 1 Soundbar Harrison/Kanji, SPKJA540A, 2 Mantas y 2 Balde de pochoclos.</p>
              <p> 6- <u>Probabilidad matemática</u>: La probabilidad matemática de acceder a alguno de los premios instantáneos ofrecidos es de 0,0000907% La probabilidad de obtener un premio por sorteo dependerá de la cantidad de participaciones recibidas, a modo de ejemplo si participaran 10000 personas, la probabilidad estimada sería de 0,0001%.</p>
              <p>7- Los premios son personales e intransferibles, no serán canjeables por dinero en efectivo, cualquier reclamo respecto a la calidad de estos deberá dirigirse a sus fabricantes o prestadores. </p>
              <p>8- El organizador no será responsable de ningún daño o pérdida ocasionada a los participantes, o a terceros, en sus personas y/o bienes, debido a o en ocasión de la utilización de los premios que en esta promoción se ofrecen. Todo impuesto que deba tributarse en forma directa o indirecta sobre el premio estará a cargo del participante ganador, así como los gastos para retirar o utilizar los premios, los cuales serán a su exclusivo cargo. </p>
              <p>9- <u>Participación sin obligación de compra</u>. Quienes deseen participar por este medio deberán contactarse al 0800-222-4539 en Argentina de lunes a viernes de 8 a 20hs, indicando sus datos personales y solicitando un código para participar, el cual reemplazará los datos requeridos del producto participante. Se asignará un código por día por persona durante la vigencia de la promoción.</p>
              <p>10- Tendrán derecho al premio únicamente aquellos participantes que cumplan con todas las condiciones establecidas en la presente promoción. El Organizador se reserva el derecho de descalificar automáticamente a cualquier participante que participe siguiendo un procedimiento distinto y/o empleando herramientas de cualquier índole que permitan alterar, modificar, o adulterar los sistemas de participación; así como suplantar la identidad de otra persona, generar simulaciones de IP o utilizar cualquier medio automático, robótico o repetitivo con tales fines.  El organizador también descalificará a aquellos participantes que en el marco de la presente promoción hayan informado datos personales falsos, inexactos o violen las presentes bases y condiciones a través de medios y/o formas que no hayan podido ser razonablemente contempladas en las mismas. </p>
              <p>Todo participante que procediere mediante las formas o modalidades detalladas en el párrafo anterior no solo será eliminado y descalificado, sino que también perderá el derecho a todo premio que le hubiere correspondido en el marco de la presente promoción.</p>
              <p>11- El organizador no será en ningún caso responsable por fallas en los equipos de comunicación, de suministro de energía, de líneas telefónicas, ni por desperfectos técnicos, errores humanos o acciones deliberadas de terceros que pudieran perturbar, suspender o interrumpir el normal desarrollo de la promoción.</p>
              <p>12- No podrán participar en esta promoción el personal de Bagley Argentina S.A., ni personal de las empresas vinculadas con la organización, promoción, publicidad, o servicios informáticos, así como tampoco sus familiares directos hasta el segundo grado de consanguinidad, así como exempleados hasta los 2 años de su desvinculación.</p>
              <p>13- La entrega de los premios que se ofrecen en la presente promoción será realizada por el organizador dentro de los 30 días corridos, de la fecha de realización de la verificación de los datos informados por el participante. </p>
              <p>Los participantes acreedores de premios instantáneos deberán exhibir documento de Identidad, hacer entrega del envase original del producto con el código utilizado, y suscribir el correspondiente recibo. Los participantes que no cumplieren con lo establecido en este párrafo perderán todo derecho a premio, el cual será considerado no asignado y quedará en poder del organizador quienes podrán disponer del mismo en la forma que estimen conveniente.</p>
              <p>En el caso del participante el acreedor de premio cine en casa, además, deberá responder correctamente al menos una pregunta de cultura general para resultar acreedor del premio y coordinar la entrega de este. En caso de no poder establecer contacto en base a los datos informados por el participante titular se enviará un mail para que se comunique dentro de las 48hs, luego de dicho plazo se procederá a contactar al suplente del mismo modo.</p>
              <p>Los premios serán enviados por correo al domicilio indicado al registrar su participación en la medida que lo permitan las circunstancias de emergencia sanitaria Covid-19 impuestas por el DNU 297/2020 y sus prórrogas, la fecha de entrega de los premios podrá sufrir demoras de acuerdo con la disponibilidad de los servicios postales.</p>
              <p>Cuando los acreedores de premio sean menores de 18 años, deberán estar acompañados de uno sus padres/encargado/tutor que puedan acreditar fehacientemente dicha condición con la documentación correspondiente.</p>
              <p>Los participantes que no cumplieren con lo establecido en esta cláusula perderán todo derecho a premio, los cuales serán considerados no asignados y quedarán en poder del organizador quien podrá disponer del mismo en la forma que estime conveniente.</p>
              <p>14- Los participantes ganadores autorizan expresamente al Organizador a difundir sus nombres e imágenes y la de sus familiares con fines publicitarios, en los medios y formas que este considere conveniente sin derecho a compensación alguna, en el caso de menores de edad, se entiende que la autorización de sus padres para participar comprende este punto y que conocen y aceptan estas bases y condiciones. </p>
              <p>15- Cuando circunstancias no imputables al Organizador y no previstas en estas bases o que constituyan caso fortuito o fuerza mayor lo justifiquen, El organizador podrá cancelar o modificar la promoción, efectuando los cambios operativos necesarios que no impliquen alterar la esencia de esta y los premios ofrecidos, previa aprobación del organismo de control y comunicación por los medios utilizados originariamente con 5 días de anticipación.</p>
              <p>16- Toda divergencia que pudiera surgir relacionada con la interpretación de estas bases, así como derivada de la ejecución de esta Promoción, será resuelta por las partes por ante los Tribunales Ordinarios en lo Comercial de la Ciudad de Córdoba, Provincia de Córdoba, renunciando a cualquier otro fuero o jurisdicción que les pudiera corresponder.</p>
              <p>17- Las presentes bases y condiciones pueden ser consultadas en www.promobagley.net o al 0800-222-4539</p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <footer>
    <div class="wrapper">
      <p>SIN OBLIGACIÓN DE COMPRA. VÁLIDA DEL 15/02/2021 AL 15/4/2021. CONSULTA LA INFORMACIÓN EN LAS BASES Y CONDICIONES EN ESTA WEB. INGRESANDO DATOS PERSONALES Y DATOS DEL PRODUCTO PARTICIPÁ POR PREMIOS OFRECIDOS.<br />
      CONSERVE LOS ENVASES DE PRODUCTOS INGRESADOS.</p>
    </div>
  </footer>
  <div id="menu-blocker"></div>
  <div id="menu">
    <nav>
      <a href="javascript;" class="menu-close"><span class="fa fa-times"></span></a>
      <img src="../images/logo-bagley.png" alt="Bagley" class="logo">
      <ul>
        <li><a href="~/"><span>Home</span></a></li>
        <li><a href="~/Carga/CargarCodigo"><span>Cargá<br />tu código</span></a></li>
        <li class="sel"><span>Bases<br />y condiciones</span></li>
        <li><a href="~/Premios"><span>Listado<br />de premios</span></a></li>
        <li><a href="~/FAQs"><span>Preguntas<br />frecuentes</span></a></li>
        <li><a href="~/Contacto"><span>Contacto</span></a></li>
      </ul>
    </nav>
  </div>
</body>
</html>