@model IEnumerable<PromoDH.Models.Registro>
@{ ViewData["Title"] = "Home Page"; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a "A Todo Bagley"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="hom">
	<form id="form1" runat="server" autocomplete="off">
		<header>
			<a href="javascript;" class="btn menu-open"><span class="fa fa-navicon"></span>Menú</a>
			<a href="~/Contacto" class="btn contacto"><span class="fa fa-comment"></span>Contacto</a>
		</header>
		<section class="toldo">
			<div class="wrapper">
				<h1>A Todo Bagley</h1>
				<div class="anim-container">
					<div class="anim">
						<div class="owl-carousel">
							<div class="slide1">
								<div class="content">
									<p><em>Te&nbsp;presentamos una&nbsp;promo</em> <span>para&nbsp;disfrutar en&nbsp;familia!</span></p>
									<div class="btn-container"><a href="~/Carga/CargarCodigo">Cargar código</a></div>
								</div>
							</div>
							<div class="slide2">
								<p>Participá<br />por <span>increíbles<br />premios</span></p>
								<img src="images/hom-slide2-img1.png" class="img1" alt="Combo campamento" />
								<img src="images/hom-slide2-img2.png" class="img2" alt="Combo paseo" />
								<img src="images/hom-slide2-img3.png" class="img3" alt="Sorteo combo cine en casa" />
								<img src="images/hom-slide2-img4.png" class="img4" alt="Combo tarde en casa" />
								<img src="images/hom-slide2-img5.png" class="img5" alt="Combo gamer" />
								<div class="btn-container"><a href="~/Carga/CargarCodigo">Cargar código</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<main>
			<h4>Marcas Participantes</h4>
			<ul class="owl-carousel">
				<li><img src="images/marca-1.png" alt="Opera" /></li>
				<li><img src="images/marca-2.png" alt="Rumba" /></li>
				<li><img src="images/marca-3.png" alt="Amor" /></li>
				<li><img src="images/marca-4.png" alt="Sonrisas" /></li>
				<li><img src="images/marca-5.png" alt="Chocolinas" /></li>
				<li><img src="images/marca-6.png" alt="Surtido Bagley" /></li>
				<li><img src="images/marca-7.png" alt="Merengadas" /></li>
				<li><img src="images/marca-8.png" alt="Mellizas" /></li>
			</ul>
		</main>
		<footer>
			<div class="wrapper">
				<p>SIN OBLIGACIÓN DE COMPRA. VÁLIDA DEL 15/02/2021 AL 15/4/2021. CONSULTA LA INFORMACIÓN EN LAS BASES Y CONDICIONES EN ESTA WEB. INGRESANDO DATOS PERSONALES Y DATOS DEL PRODUCTO PARTICIPÁ POR PREMIOS OFRECIDOS.<br />
					CONSERVE LOS ENVASES DE PRODUCTOS INGRESADOS.</p>
			</div>
		</footer>
		<div id="menu-blocker"></div>
		<div id="menu">
			<nav>
				<a href="javascript;" class="menu-close"><span class="fa fa-times"></span></a>
				<img src="images/logo-bagley.png" alt="Bagley" class="logo">
				<ul>
					<li class="sel"><span>Home</span></li>
					<li><a href="~/Carga/CargarCodigo"><span>Cargá<br />tu código</span></a></li>
					<li><a href="~/Bases"><span>Bases<br />y condiciones</span></a></li>
					<li><a href="~/Premios"><span>Listado<br />de premios</span></a></li>
					<li><a href="~/FAQs"><span>Preguntas<br />frecuentes</span></a></li>
					<li><a href="~/Contacto"><span>Contacto</span></a></li>
				</ul>
			</nav>
		</div>
	</form>
</body>
</html>
