@model IEnumerable<PromoDH.Models.Registro>
@{ ViewData["Title"] = "Home Page"; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo Mundo Mogul</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="hom">
<div class="site-container">
    <header>
      <h1>Bienvenidos a la promo Mundo Mogul</h1>
    </header>
    <div class="botones">
      <div class="wrapper">
        <a href="#" class="open-menu">Men&uacute;</a>
        <a href="~/Contacto" class="btn-contacto">Contacto</a>
      </div>
    </div>
    <main>
      <div class="intro owl-carousel">
        <div class="slide slide1">
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="images/hom-slides-tit-d.png" media="(min-width: 600px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="images/hom-slides-tit-m.png" class="tit" alt="Cargá el código de lote del pack o de la raspadita" />
          </picture>
          <img src="images/hom-slide1-elem1.png" class="img" />
          <img src="images/hom-slide1-elem2.png" class="txt" alt="Participás por Kits Mogul todos los días" />
        </div>
        <div class="slide slide2">
          <picture>
            <!--[if IE 9]><video style="display: none;"><![endif]-->
            <source srcset="images/hom-slides-tit-d.png" media="(min-width: 600px)">
            <!--[if IE 9]></video><![endif]-->
            <img srcset="images/hom-slides-tit-m.png" class="tit" alt="Cargá el código de lote del pack o de la raspadita" />
          </picture>
          <img src="images/hom-slide2-elem1.png" class="img" />
          <img src="images/hom-slide2-elem2.png" class="txt" alt="Participás por Kits Mogul todos los días" />
        </div>
      </div>
      <a href="~/Carga/CargarCodigo" class="ingresar">Ingresar</a>
      <div class="video">
        <a href="http://www.youtube.com/watch?v=HgqOIkMnatU" data-fancybox>
          <h4>&iexcl;Mir&aacute; la nueva publicidad!</h4>
          <img src="images/hom-video-comercial.jpg" />
        </a>
      </div>
    </main>
  </div>
  <footer>
    <div class="wrapper">
      <p>Sin obligaci&oacute;n de compra. V&aacute;lido en Argentina del 01/03/2021 al 30/04/2021.<br />Para m&aacute;s informaci&oacute;n consulte bases en el men&uacute; de esta p&aacute;gina web.</p>
    </div>
  </footer>
  <div id="menu-blocker"></div>
  <div id="menu">
    <nav>
      <a href="#" class="menu-close">Cerrar</a>
      <img src="images/logo-menu.png" alt="Promo Poosh!" class="logo">
      <ul>
        <li class="sel"><span>Home</span></li>
        <li><a href="~/Carga/CargarCodigo">Carg&aacute; tu c&oacute;digo</a></li>
        <li><a href="~/Bases">Bases y condiciones</a></li>
        <li><a href="~/Premios">Listado de premios</a></li>
        <li><a href="~/FAQs">Preguntas frecuentes</a></li>
        <li><a href="~/Contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>