@charset "UTF-8";
/* CSS Document */
@font-face { font-family: 'SingleSleeve'; src: url('../fonts/SingleSleeve.eot?#iefix') format('embedded-opentype'), url('../fonts/SingleSleeve.woff') format('woff'), url('../fonts/SingleSleeve.ttf') format('truetype'), url('../fonts/SingleSleeve.svg#SingleSleeve') format('svg'); font-weight: normal; font-style: normal; }

/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top; background: transparent }
body { font-size: 16px; line-height: 1; }
ol, ul { list-style: none }
blockquote, q { quotes: none }
:focus { outline: 0 }
table { border-collapse: collapse; border-spacing: 0 }
a img { border: none }
* { margin: 0 }
.clear { clear: both; display: block; }
.last { margin-right: 0 !important }
body { font-family: Arial, Helvetica, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #000; background: #008AD7; }
a:link, a:visited, a:hover, a:active { color: #333; text-decoration: none; }
*, *::after, *::before { box-sizing: border-box; }
input, select { border-radius: 0; }
html { -webkit-text-size-adjust: 100%; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*-----------------------------------------------------------------*/
/*-- GENERAL -----------------------------------------------------*/
body { position: relative; overflow-x: hidden; }
.site-container { min-height: 100vh; display: flex; flex-direction: column; overflow: hidden; }
.wrapper { position: relative; width: 100%; max-width: 1200px; margin: auto; padding: 0 2em; }

header, main, footer { font-size: 0.75em; }

@media only screen and (min-width: 480px) {
header, main, footer { font-size: 0.85em; }
}
@media only screen and (min-width: 768px) {
header, main, footer { font-size: 1em; }
}


/*-----------------------------------------------------------------*/
/*-- HEADER ------------------------------------------------------*/
header { padding: 2em 0 5em 0; position: relative; z-index: 1; }
header h1, .open-menu, .btn-contacto { -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }
header h1 { background: url("../images/logo-promo.png") no-repeat; background-size: 100% 100%; text-indent: -9999px; margin: auto; }

#hom header h1 { width: 170px; height: 111px; }
#int header h1 { width: 140px; height: 91px; }
#int header h1 a { display: block; width: 100%; height: 100%; }

@media only screen and (min-width: 600px) {
#hom header h1 { width: 300px; height: 196px; }
}

@media only screen and (min-width: 480px) {
#int header h1 { width: 160px; height: 105px; }
}

@media only screen and (min-width: 1000px) {
header { padding-bottom: 3em; }
#int header h1 { width: 220px; height: 144px; }
}


/*-----------------------------------------------------------------*/
/*-- MAIN --------------------------------------------------------*/
main { position: relative; flex: 1; text-align: center; }
main .wrapper { height: 100%; }

.textos p, .textos ul { font-size: 1em; line-height: 1.2em; margin-bottom: 1.2em; }
.textos.center, .textos .center { display: flex; justify-content: center; align-items: center; }
.textos .noganadoresContainer table { display: none; }

.textos h4, .textos h5 { line-height: 1em; text-transform: uppercase; margin: 0; font-family: "SingleSleeve"; font-weight: normal; }
.textos h4 { font-size: 3em; color: #8BC043; }
.textos h5 { font-size: 2em; color: #008AD7; }

a.btn-main { display: inline-block; color: #000; background: #FEEE00; font-family: "SingleSleeve"; text-transform: uppercase; font-size: 2em; padding: 0.1em 1.6em; line-height: 1.5em; border-radius: 1.5em; border: none; cursor: pointer; display: block; width: 100%; max-width: 200px; margin: 1em auto 0 auto; }
a.btn-main:hover { color: #FFF!important; background: #E42E29!important; }


@media only screen and (min-width: 768px) {
.textos p, .textos ul, .textos table td { font-size: 0.8em; }
}


/*-----------------------------------------------------------------*/
/*-- MENU --------------------------------------------------------*/
.botones { position: fixed; top: 0; left: 0; width: 100%; z-index: 2; }
.open-menu, .menu-close, .btn-contacto { position: absolute; display: block; background-repeat: no-repeat; background-size: 100% 200%; width: 2.2em; height: 2em; text-indent: -9999px; z-index: 10; }
.open-menu { background-image: url("../images/menu-open.png"); left: 2em; top: 2em; }
.menu-close { background-image: url("../images/menu-close.png"); right: 4em; top: 4em; }
.btn-contacto { background-image: url("../images/btn-contacto.png"); right: 2em; top: 2em; }
.open-menu:hover, .menu-close:hover, .btn-contacto:hover { background-position: 0 100%; }


#menu { width: 100%; height: 100%; display: flex; flex-direction: column; position: fixed; top: 0; left: 0; text-align: center; z-index: 30000; -webkit-transition: -webkit-transform 0.4s ease; transition: transform 0.4s ease; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
html.menu-open #menu { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
#menu nav { flex: 1; padding: 2em; margin: 2em 2em 2em 0; border-radius: 0 4em 4em 0; background: rgba(0, 10, 35, 0.95); display: flex; flex-direction: column; }

#menu .logo { width: 140px; height: auto; display: block; margin-bottom: 1.5em; }
#menu ul { flex: 1; font-size: 2em; display: flex; flex-direction: column; justify-content: space-around; }
#menu ul li a { display: inline-block; color: #FFF; }
#menu ul li { display: inline-block; padding: 0.3em 0 0.2em 0; line-height: 1.5em; border-radius: 1.5em; color: #FFF; font-family: "SingleSleeve"; }
#menu ul li.sel { color: #F1CF00; cursor: default; }
#menu ul li.sel span { display: inline-block; position: relative; padding-left: 60px; }
#menu ul li.sel span img { position: absolute; left: 0; top: -10%; height: 120%; width: auto; }
#menu ul li a:hover { color: #F1CF00; }
#menu-blocker { -webkit-transition: -webkit-transform 0.4s ease; transition: transform 0.4s ease; background: rgba(0,0,0,0.3); display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 20000; }
html.menu-open #menu-blocker { display: block; }

@media only screen and (min-width: 480px) {
#menu { max-width: 400px; }
}

@media only screen and (min-width: 600px) {
.open-menu { left: 2em; }
.btn-contacto { right: 2em; }
#menu { height: auto; max-width: 340px; border-radius: 0 3em 3em 0; }
}


/*-----------------------------------------------------------------*/
/*-- FOOTER ------------------------------------------------------*/
footer { background: #72B7E1; text-align: center; padding: 1em 0; position: relative; }
footer::before { content: ""; height: 3px; width: 100%; position: absolute; top: 0; left: 0; background: #F1CF00; background: -moz-linear-gradient(left, #8BC043 0%, #F1CF00 50%, #E42E29 100%); background: -webkit-gradient(left top, right top, color-stop(0%, #8BC043), color-stop(50%, #F1CF00), color-stop(100%, #E42E29)); background: -webkit-linear-gradient(left, #8BC043 0%, #F1CF00 50%, #E42E29 100%); background: -o-linear-gradient(left, #8BC043 0%, #F1CF00 50%, #E42E29 100%); background: -ms-linear-gradient(left, #8BC043 0%, #F1CF00 50%, #E42E29 100%); background: linear-gradient(to right, #8BC043 0%, #F1CF00 50%, #E42E29 100%); }
footer .wrapper { max-width: 800px; }
footer p { font-size: 0.7em; line-height: 1.2em; color: #FFF; text-transform: uppercase; font-family: Arial, Helvetica, sans-serif; }



/*-----------------------------------------------------------------*/
/*-- HOME --------------------------------------------------------*/
#hom header { padding-bottom: 0; }
#hom .site-container { background-image: url('../images/hom-back-m.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center bottom; }
#hom .intro { width: 90%; max-width: 360px; margin: 0 auto 2em auto; position: relative; }
#hom .intro .owl-stage-outer, #hom .intro .owl-stage, #hom .intro .owl-item { height: 100%; }
#hom .intro a { display: block; position: absolute; }
#hom .intro img { display: block; height: auto; position: absolute; }

#hom .intro .slide { position: relative; width: 100%; height: 100%; }
#hom .intro .slide img { display: block; width: 100%; height: auto; position: absolute; }
#hom .intro .slide1 .txt { bottom: 8%; }
#hom .intro .slide1 .img { top: 38%; }
#hom .intro .slide2 .img { top: 35%; }
#hom .intro .slide2 .txt { bottom: 0; }

#hom .ingresar { position: relative; z-index: 100; font-family: "SingleSleeve"; text-transform: uppercase; color: #FFF; font-size: 2.6em; background: #6ABEE8; padding: 0.2em 1.75em; border-radius: 1em; -webkit-box-shadow: 5px 5px 45px 0px rgba(0,0,0,0.4); -moz-box-shadow: 5px 5px 45px 0px rgba(0,0,0,0.4); box-shadow: 5px 5px 45px 0px rgba(0,0,0,0.4); transform: rotate(-3deg); -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); }
#hom .ingresar:hover { background: #E42E29; }

#hom .video { background: url("../images/hom-video.png") no-repeat; background-size: auto 100%; background-position: center; height: 300px; width: 100%; }
#hom .video a { display: block; height: 100%; width: 100%; max-width: 474px; position: relative; padding-top: 45px; margin: auto; }
#hom .video a h4 { text-transform: uppercase; font-family: "SingleSleeve"; font-weight: normal; color: #F6E16B; font-size: 28px; margin-bottom: 10px; }
#hom .video a:hover h4 { color: #FFBEDC; }
#hom .video a img { display: block; height: 170px; width: auto; margin: auto; }

@media only screen and (min-width: 600px) {
#hom main { padding-top: 3em; display: flex; justify-content: center; align-items: center; flex-direction: column; }
#hom .intro { width: 90%; max-width: 760px; margin-bottom: 0; }
#hom .intro a:hover { transition: all .2s ease-in-out; transform: scale(1.1); }
#hom .intro .slide .tit { width: 76%; }
#hom .intro .slide .txt { width: 60%; bottom: auto; top: 20%; right: -2%; }
#hom .intro .slide1 .img { width: 62%; top: auto; bottom: 6%; }
#hom .intro .slide2 .img { width: 58%; top: auto; bottom: 0; }
}

@media only screen and (min-width: 768px) {
#hom { background: #05D1F3; }
#hom .site-container { background-image: url('../images/hom-back-d.jpg'); }
#hom .intro { margin: 0 auto; }

#hom .video { height: 400px; }
#hom .video a { width: 632px; max-width: none; padding-top: 55px; }
#hom .video a h4 { font-size: 36px; margin-bottom: 15px; }
#hom .video a img { height: 230px; }
}

@media only screen and (min-width: 1000px) {
#hom .video { height: 460px; }
#hom .video a { width: 726px; padding-top: 60px; }
#hom .video a h4 { font-size: 42px; margin-bottom: 20px; }
#hom .video a img { height: 260px; }
}


/*-----------------------------------------------------------------*/
/*-- INTERIOR ----------------------------------------------------*/
#int { background: rgb(36,187,231); background: -moz-linear-gradient(155deg, rgba(36,187,231,1) 0%, rgba(36,187,231,1) 17%, rgba(160,226,245,1) 40%, rgba(255,255,255,1) 100%); background: -webkit-linear-gradient(155deg, rgba(36,187,231,1) 0%, rgba(36,187,231,1) 17%, rgba(160,226,245,1) 40%, rgba(255,255,255,1) 100%); background: linear-gradient(155deg, rgba(36,187,231,1) 0%, rgba(36,187,231,1) 17%, rgba(160,226,245,1) 40%, rgba(255,255,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#24bbe7",endColorstr="#ffffff",GradientType=1); }
#int .site-container { background-repeat: no-repeat; background-position: center top; background-size: cover; }
#int main { flex: 1; position: relative; flex-direction: column; display: flex; flex-direction: column; justify-content: flex-start; }
#int main .wrapper { flex: 1; display: flex; flex-direction: column; align-items: center; }


#int main .img { display: none; }
#int .text-box { width: 100%; height: 100%; min-height: 300px; flex: 1; display: flex; flex-direction: column; max-width: 660px; margin: auto; position: relative; }
#int .text-box h2 { text-transform: uppercase; color: #FFF; font-family: "SingleSleeve"; font-weight: normal; font-size: 2.6em; margin-bottom: 0.5em; }
#int .text-box .nano { height: auto; flex: 1; max-width: 540px; width: 100%; margin: 0 auto; }
#int .textos { width: 100%; height: 100%; position: relative; flex: 1; padding: 1.5em; background: rgba(106, 190, 232, 0.85); border-radius: 2.5em 2.5em 0 0; display: flex; flex-direction: column; }
#int .text-box .sub { position: relative; font-size: 0.9em; line-height: 1.2em; margin: -1em auto 3em auto; }
#int .text-box .thead { padding-right: 20px; display: flex; margin: -3em 0 1.8em 0; }
#int .text-box .thead div { flex: 1; }
#int .text-box .thead div span { font-family: "SingleSleeve"; text-transform: uppercase; width: 50%; display: block; margin: auto; background: #564891; color: #FFF; font-size: 1.6em; padding: 0.2em 0; border-radius: 2em; transform: rotate(-1deg); -webkit-transform: rotate(-1deg); -moz-transform: rotate(-1deg); -ms-transform: rotate(-1deg); -o-transform: rotate(-1deg); }
#int .text-box table { width: 100%; font-size: 1em; }
#int .text-box table td { width: 50%; padding: 0.5em 0.3em; line-height: 1.2em; text-align: center; }
#int .text-box .nota { font-family: "SingleSleeve"; text-transform: uppercase; color: #FFF; font-size: 1.4em; }


@media only screen and (min-width: 768px) {
#int .text-box .thead { padding-right: 40px; }
#int .text-box .thead div span { font-size: 1.4em; }
#int main .img { display: block; position: absolute; bottom: 0; }
}




/*-----------------------------------------------------------------*/
/*-- INTERIOR - PAGINAS ------------------------------------------*/
#int.bas .site-container { background-image: url('../images/int-back1-m.png'); }
#int.faq .site-container { background-image: url('../images/int-back2-m.png'); }
#int.pre .site-container { background-image: url('../images/int-back2-m.png'); }
#int.car .site-container { background-image: url('../images/int-back2-m.png'); }
#int.con .site-container { background-image: url('../images/int-back2-m.png'); }
#int.pregunta .site-container { background-image: url('../images/int-back2-m.png'); }
#int.res .site-container { background-image: url('../images/int-back2-m.png'); }
#int.pre .text-box h2 { font-size: 4em; margin-bottom: 0.1em; }
#int.pre .text-box table th { font-family: "SingleSleeve"; text-transform: uppercase; font-weight: normal; color: #F1CF00; font-size: 2.6em; padding-bottom: 0.3em; text-shadow: 1px 0 0 #004598, -1px 0 0 #004598, 0 1px 0 #004598, 0 -1px 0 #004598, 1px 1px #004598, -1px -1px 0 #004598, 1px -1px 0 #004598, -1px 1px 0 #004598; }
#int.pre .text-box table td { text-transform: uppercase; font-size: 0.9em; }
#int.car.form .text-box h2 { font-size: 2.2em; }
#int.con .text-box h2 { font-size: 4em; margin-bottom: 0.1em; }

#int.pregunta .text-box h2 { margin-bottom: 0.5em; }
#int.pregunta main p { font-size: 1.2em; line-height: 1.2em; margin-bottom: 2em; }
#int.pregunta main fieldset { max-width: none; color: #FFF; }
#int.pregunta main .radio-buttons { max-width: 360px; margin: 0 auto 2em auto; }
#int.pregunta main .radio-buttons label { display: block; text-align: left; position: relative; padding-left: 2.6em; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 1.1em; padding-top: 0.3em; margin-bottom: 1.2em; }
#int.pregunta main .radio-buttons input { position: absolute; opacity: 0; cursor: pointer; }
#int.pregunta main .radio-buttons .checkmark { display: block; position: absolute; top: 0; left: 0; height: 26px; width: 26px; background: #FEEE00; border-radius: 50%; }
#int.pregunta main .radio-buttons label:hover input ~ .checkmark { background: #E42E29; }
#int.pregunta main .radio-buttons label.checkmark:after { content: ""; position: absolute; display: none; }
#int.pregunta main .radio-buttons label input:checked ~ .checkmark:after { display: block; }
#int.pregunta main .radio-buttons label .checkmark:after { top: 9px; left: 9px; width: 8px; height: 8px; border-radius: 50%; background: #000; content: ""; position: absolute; display: none; }


#int.res .textos.gan { color: #FFF; }
#int.res .textos.gan .nano { max-width: none!important; }
#int.res .textos.gan0 { background: rgba(195, 15, 50, 0.85); }
#int.res .textos.gan1 { background: rgba(18, 49, 126, 0.85); }
#int.res .textos.gan .contenido { height: 100%; display: flex; flex-direction: column; justify-content: flex-start; align-items: center; }

#int.res .textos.gan h3 { font-family: "SingleSleeve"; text-transform: uppercase; font-weight: normal; }
#int.res .textos.gan h3 span { display: block; color: #FFF; }
#int.res .textos.gan.gan0 h3 { font-size: 3.8em; }
#int.res .textos.gan.gan0 h3 span { font-size: 0.65em; margin-bottom: 0.4em; }
#int.res .textos.gan.gan0 h4 { color: #FFF; font-size: 1.8em; line-height: 1.2em; margin-bottom: 1em; }
#int.res .textos.gan.gan1 h3 { font-size: 6em; color: #F1CF00; }
#int.res .textos.gan.gan1 h3 span { font-size: 0.35em; margin-bottom: 0.4em; }
#int.res .textos.gan.gan1 h4 { color: #FFF; font-size: 1.4em; line-height: 1.2em; margin-bottom: 0.5em; }

#int.res .textos.gan img { display: block; margin: 0 auto 1em auto; }
#int.res .textos.gan.gan0 img { width: 60%; max-width: 280px; margin: 0 auto 0.5em auto; }
#int.res .textos.gan.gan1 img { width: 80%; max-width: 360px; margin: 0 auto 1em auto; }
#int.res .textos.gan p { font-size: 0.85em; max-width: 80%; max-width: 460px; margin: 0 auto; }
#int.res .textos.gan p strong { display: block; font-family: "SingleSleeve"; text-transform: uppercase; font-weight: normal; font-size: 2.4em; line-height: 1.1em; margin-top: 0.6em; }

.center-content { display: flex; flex-direction: column; align-items: center; justify-content: center; }
#int main .textos.gracias h2 { color: #F6E16B; font-size: 5em; line-height: 0.9em; text-shadow: 1px 0 0 #004598, -1px 0 0 #004598, 0 1px 0 #004598, 0 -1px 0 #004598, 1px 1px #004598, -1px -1px 0 #004598, 1px -1px 0 #004598, -1px 1px 0 #004598; }
#int main .textos.gracias p { font-size: 2em; margin-bottom: 1em; }
#int main .textos.gracias .volver { margin: 0; }


@media only screen and (min-width: 768px) {
#int.bas .site-container { background-image: url('../images/int-back1-d.png'); }
#int.faq .site-container { background-image: url('../images/int-back2-d.png'); }
#int.pre .site-container { background-image: url('../images/int-back3-d.jpg'); }
#int.car .site-container { background-image: url('../images/int-back4-d.jpg'); }
#int.con .site-container { background-image: url('../images/int-back4-d.jpg'); }
#int.pregunta .site-container { background-image: url('../images/int-back3-d.jpg'); }
#int.res .site-container { background-image: url('../images/int-back1-d.png'); }
#int.bas main .img { left: -5%; height: 220px; }
#int.res main .img { left: -5%; height: 220px; }
#int.car main .img { display: none; }
#int.con main .img { display: none; }
}

@media only screen and (min-width: 840px) {
#int.bas main .img { left: 2%; }
#int.res main .img { left: 2%; }
#int.car main .img { display: block; left: -150px; height: 120px; }
#int.con main .img { display: block; left: -150px; height: 120px; }
}

@media only screen and (min-width: 1000px) {
#int.bas main .img { left: 5%; height: 250px; }
#int.res main .img { left: 5%; height: 250px; }
#int.car main .img { left: -150px; height: 150px; }
#int.con main .img { left: -150px; height: 150px; }
}

@media only screen and (min-width: 1200px) {
#int.bas main .img { left: 10%; height: 300px; }
#int.res main .img { left: 9%; height: 320px; }
#int.car main .img { left: -130px; height: 180px; }
#int.con main .img { left: -130px; height: 180px; }
}




/*-----------------------------------------------------------------*/
/*-- FORMULARIOS -------------------------------------------------*/
fieldset { margin: 0 auto; max-width: 300px; }
fieldset ul { margin: 0 auto!important; width: 100%; min-width: 260px; text-align: center; font-size: 0; }
fieldset ul li { font-size: 0.75rem; text-align: left; margin-bottom: 1.5em!important; }
fieldset ul li.btn { text-align: center; margin: 0!important; }
fieldset ul li label { display: block; font-size: 1.1em; line-height: 1.3em; margin-bottom: 0.6em; color: #FFF; }
fieldset ul li label em { font-style: normal; color: #FFD204; }
fieldset ul li input[type="text"], fieldset ul li select, fieldset ul li textarea { width: 100%; display: block; background: #FFF; border: none; height: 3em; line-height: 3em; padding: 0 1em; font-family: Arial, Helvetica, sans-serif; color: #333; font-size: 1em; border-radius: 1em; }
fieldset ul li textarea { resize: none; height: auto; line-height: 1.2em; padding: 0.5em 1em; height: 8em; }
fieldset .tel:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
fieldset .tel input[type="text"] { float: left; }
fieldset .tel .are { width: 25%; margin-right: 5%; }
fieldset .tel .num { width: 70%; }
fieldset .cod:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
fieldset .cod input[type="text"] { float: left; width: 30%; margin-right: 5%; }
fieldset .cod input[type="text"].last { margin-right: 0; }
fieldset .cod input[type="text"]::placeholder { color: #333; }
fieldset .cod p { clear: both; text-align: left!important; margin: 0!important; line-height: 1.2em!important; padding-top: 0.5em; font-style: italic; opacity: 0.8; }
fieldset .cod .env { display: inline-block; margin-top: 0.5em; text-decoration: underline; color: #FFF; }


fieldset input[type="submit"], a.main-btn { color: #000; background: #FEEE00; font-family: "SingleSleeve"; text-transform: uppercase; font-size: 2.2em; width: 3em; height: 3em; line-height: 3em; border-radius: 100%; border: none; cursor: pointer; display: block; margin: 0 auto; }
fieldset input[type="submit"]:hover, a.main-btn:hover { color: #FFF!important; background: #E42E29!important; }

fieldset .radio-item label { cursor: pointer; font-size: 1em; line-height: 1.4em; padding-left: 2.2em; position: relative; text-transform: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
fieldset .radio-item input { position: absolute; opacity: 0; cursor: pointer; }
fieldset .radio-item .checkmark { display: block; position: absolute; top: 0; left: 0; height: 20px; width: 20px; background: #FFD204; border-radius: 50%; }
fieldset .radio-item:hover input ~ .checkmark { background: #00BB9E; }
fieldset .radio-item.checkmark:after { content: ""; position: absolute; display: none; }
fieldset .radio-item input:checked ~ .checkmark:after { display: block; }
fieldset .radio-item .checkmark:after { top: 7px; left: 7px; width: 6px; height: 6px; border-radius: 50%; background: #000; content: ""; position: absolute; display: none; }
fieldset .g-recaptcha-parent { width: 240px; }
fieldset .g-recaptcha { transform: scale(0.75); position: relative; left: -35px; top: -10px; }

@media only screen and (min-width: 660px) {
fieldset .radio-item .checkmark { background: #FFD204; }
fieldset .radio-item:hover input ~ .checkmark { background: #F8A81E; }
}

@media only screen and (min-width: 768px) {
fieldset { width: 100%; max-width: none; }
fieldset ul { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
fieldset ul li { font-size: 0.85rem; width: 48%; }
fieldset ul li.wide { width: 100%; }
fieldset ul li.wide .campos { width: 48%; }
fieldset ul li.left { float: left; }
fieldset ul li textarea { height: 5em; }
}


/*-----------------------------------------------------------------*/
/*-- PLUGINS -----------------------------------------------------*/

/* Nano Scroller */
.nano { position: relative; width: auto; height: 100%; overflow: hidden; }
.nano > .nano-content { position: absolute; overflow: scroll; overflow-x: hidden; top: 0; right: 0; bottom: 0; left: 0; }
.nano > .nano-content:focus { outline: thin dotted; }
.nano > .nano-content::-webkit-scrollbar { display: none; }
.has-scrollbar > .nano-content::-webkit-scrollbar { display: block; }
.nano > .nano-pane { background: rgba(0,0,0,.25); position: absolute; width: 10px; right: 0; top: 0; bottom: 0; visibility: hidden\9; opacity: .01; -webkit-transition: .2s; -moz-transition: .2s; -o-transition: .2s; transition: .2s; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.nano > .nano-pane > .nano-slider { position: relative; }
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed { visibility: visible\9!important; opacity: 0.99; }
.nano .nano-content { padding-right: 20px; }
.nano .nano-pane { background: #666; border: 2px solid #666; }
.nano .nano-slider { background: #FFF; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

/* @media only screen and (min-width: 768px) {
.nano .nano-content { padding-right: 40px; }
} */


/* fancyBox v3.5.7 */
body.compensate-for-scrollbar { overflow: hidden; }
.fancybox-active { height: auto; }
.fancybox-is-hidden { left: -9999px; margin: 0; position: absolute !important; top: -9999px; visibility: hidden; }
.fancybox-container { -webkit-backface-visibility: hidden; height: 100%; left: 0; outline: none; position: fixed; -webkit-tap-highlight-color: transparent; top: 0; -ms-touch-action: manipulation; touch-action: manipulation; transform: translateZ(0); width: 100%; z-index: 99992; }
.fancybox-container * { box-sizing: border-box; }
.fancybox-outer, .fancybox-inner, .fancybox-bg, .fancybox-stage { bottom: 0; left: 0; position: absolute; right: 0; top: 0; }
.fancybox-outer { -webkit-overflow-scrolling: touch; overflow-y: auto; }
.fancybox-bg { background: rgb(30, 30, 30); opacity: 0; transition-duration: inherit; transition-property: opacity; transition-timing-function: cubic-bezier(.47, 0, .74, .71); }
.fancybox-is-open .fancybox-bg { opacity: .9; transition-timing-function: cubic-bezier(.22, .61, .36, 1); }
.fancybox-infobar, .fancybox-toolbar, .fancybox-caption, .fancybox-navigation .fancybox-button { direction: ltr; opacity: 0; position: absolute; transition: opacity .25s ease, visibility 0s ease .25s; visibility: hidden; z-index: 99997; }
.fancybox-show-infobar .fancybox-infobar, .fancybox-show-toolbar .fancybox-toolbar, .fancybox-show-caption .fancybox-caption, .fancybox-show-nav .fancybox-navigation .fancybox-button { opacity: 1; transition: opacity .25s ease 0s, visibility 0s ease 0s; visibility: visible; }
.fancybox-infobar { color: #ccc; font-size: 13px; -webkit-font-smoothing: subpixel-antialiased; height: 44px; left: 0; line-height: 44px; min-width: 44px; mix-blend-mode: difference; padding: 0 10px; pointer-events: none; top: 0; -webkit-touch-callout: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.fancybox-toolbar { right: 0; top: 0; }
.fancybox-stage { direction: ltr; overflow: visible; transform: translateZ(0); z-index: 99994; }
.fancybox-is-open .fancybox-stage { overflow: hidden; }
.fancybox-slide { -webkit-backface-visibility: hidden; display: none; height: 100%; left: 0; outline: none; overflow: auto; -webkit-overflow-scrolling: touch; padding: 44px; position: absolute; text-align: center; top: 0; transition-property: transform, opacity; white-space: normal; width: 100%; z-index: 99994; }
.fancybox-slide::before { content: ''; display: inline-block; font-size: 0; height: 100%; vertical-align: middle; width: 0; }
.fancybox-is-sliding .fancybox-slide, .fancybox-slide--previous, .fancybox-slide--current, .fancybox-slide--next { display: block; }
.fancybox-slide--image { overflow: hidden; padding: 44px 0; }
.fancybox-slide--image::before { display: none; }
.fancybox-slide--html { padding: 6px; }
.fancybox-content { background: #fff; display: inline-block; margin: 0; max-width: 100%; overflow: auto; -webkit-overflow-scrolling: touch; padding: 44px; position: relative; text-align: left; vertical-align: middle; }
.fancybox-slide--image .fancybox-content { animation-timing-function: cubic-bezier(.5, 0, .14, 1); -webkit-backface-visibility: hidden; background: transparent; background-repeat: no-repeat; background-size: 100% 100%; left: 0; max-width: none; overflow: visible; padding: 0; position: absolute; top: 0; -ms-transform-origin: top left; transform-origin: top left; transition-property: transform, opacity; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 99995; }
.fancybox-can-zoomOut .fancybox-content { cursor: zoom-out; }
.fancybox-can-zoomIn .fancybox-content { cursor: zoom-in; }
.fancybox-can-swipe .fancybox-content, .fancybox-can-pan .fancybox-content { cursor: -webkit-grab; cursor: grab; }
.fancybox-is-grabbing .fancybox-content { cursor: -webkit-grabbing; cursor: grabbing; }
.fancybox-container [data-selectable='true'] { cursor: text; }
.fancybox-image, .fancybox-spaceball { background: transparent; border: 0; height: 100%; left: 0; margin: 0; max-height: none; max-width: none; padding: 0; position: absolute; top: 0; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; width: 100%; }
.fancybox-spaceball { z-index: 1; }
.fancybox-slide--video .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--iframe .fancybox-content { height: 100%; overflow: visible; padding: 0; width: 100%; }
.fancybox-slide--video .fancybox-content { background: #000; }
.fancybox-slide--map .fancybox-content { background: #e5e3df; }
.fancybox-slide--iframe .fancybox-content { background: #fff; }
.fancybox-video, .fancybox-iframe { background: transparent; border: 0; display: block; height: 100%; margin: 0; overflow: hidden; padding: 0; width: 100%; }

/* Fix iOS */
.fancybox-iframe { left: 0; position: absolute; top: 0; }
.fancybox-error { background: #fff; cursor: default; max-width: 400px; padding: 40px; width: 100%; }
.fancybox-error p { color: #444; font-size: 16px; line-height: 20px; margin: 0; padding: 0; }

/* Buttons */
.fancybox-button { background: rgba(30, 30, 30, .6); border: 0; border-radius: 0; box-shadow: none; cursor: pointer; display: inline-block; height: 44px; margin: 0; padding: 10px; position: relative; transition: color .2s; vertical-align: top; visibility: inherit; width: 44px; }
.fancybox-button, .fancybox-button:visited, .fancybox-button:link { color: #ccc; }
.fancybox-button:hover { color: #fff; }
.fancybox-button:focus { outline: none; }
.fancybox-button.fancybox-focus { outline: 1px dotted; }
.fancybox-button[disabled],
.fancybox-button[disabled]:hover { color: #888; cursor: default; outline: none; }

/* Fix IE11 */
.fancybox-button div { height: 100%; }
.fancybox-button svg { display: block; height: 100%; overflow: visible; position: relative; width: 100%; }
.fancybox-button svg path { fill: currentColor; stroke-width: 0; }
.fancybox-button--play svg:nth-child(2), .fancybox-button--fsenter svg:nth-child(2) { display: none; }
.fancybox-button--pause svg:nth-child(1), .fancybox-button--fsexit svg:nth-child(1) { display: none; }
.fancybox-progress { background: #ff5268; height: 2px; left: 0; position: absolute; right: 0; top: 0; -ms-transform: scaleX(0); transform: scaleX(0); -ms-transform-origin: 0; transform-origin: 0; transition-property: transform; transition-timing-function: linear; z-index: 99998; }

/* Close button on the top right corner of html content */
.fancybox-close-small { background: transparent; border: 0; border-radius: 0; color: #ccc; cursor: pointer; opacity: .8; padding: 8px; position: absolute; right: -12px; top: -44px; z-index: 401; }
.fancybox-close-small:hover { color: #fff; opacity: 1; }
.fancybox-slide--html .fancybox-close-small { color: currentColor; padding: 10px; right: 0; top: 0; }
.fancybox-slide--image.fancybox-is-scaling .fancybox-content { overflow: hidden; }
.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small { display: none; }

/* Loading indicator */
.fancybox-loading { animation: fancybox-rotate 1s linear infinite; background: transparent; border: 4px solid #888; border-bottom-color: #fff; border-radius: 50%; height: 50px; left: 50%; margin: -25px 0 0 -25px; opacity: .7; padding: 0; position: absolute; top: 50%; width: 50px; z-index: 99999; }
@keyframes fancybox-rotate {
100% { transform: rotate(360deg); }
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
.fancybox-slide { padding-left: 6px; padding-right: 6px; }
.fancybox-slide--image { padding: 6px 0; }
.fancybox-close-small { right: -6px; }
.fancybox-slide--image .fancybox-close-small { background: #4e4e4e; color: #f2f4f6; height: 36px; opacity: 1; padding: 6px; right: 0; top: 0; width: 36px; }
.fancybox-caption { padding-left: 12px; padding-right: 12px; }
@supports (padding: max(0px)) {
.fancybox-caption { padding-left: max(12px, env(safe-area-inset-left)); padding-right: max(12px, env(safe-area-inset-right)); }
}
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
.fancybox-thumbs { width: 110px; }
.fancybox-show-thumbs .fancybox-inner { right: 110px; }
.fancybox-thumbs__list a { max-width: calc(100% - 10px); }
}






/* Owl Carousel */
.owl-carousel { display: none; width: 100%; -webkit-tap-highlight-color: transparent; position: relative; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; touch-action: manipulation; -moz-backface-visibility: hidden; backface-visibility: hidden; }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper, .owl-carousel .owl-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }
.owl-carousel .owl-item img { display: block; width: 100%; }
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled { display: none; }
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot { cursor: pointer; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot { background: none; color: inherit; border: none; padding: 0!important; font: inherit; }
.owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel.owl-refresh .owl-item { visibility: hidden; }
.owl-carousel.owl-drag .owl-item { -ms-touch-action: pan-y; touch-action: pan-y; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-grab { cursor: move; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }
.no-js .owl-carousel { display: block; }
.owl-carousel .animated { animation-duration: 1000ms; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-height { transition: height 500ms ease-in-out; }
.owl-carousel .fadeOut { animation-name: fadeOut; }
@keyframes fadeOut {
0% { opacity: 1; }
100% { opacity: 0; }
}



/*--------------------------------------------------------------*/
/*-- OVERRIDE PLUGINS -----------------------------------------*/
/* Nano Scroller */
.nano > .nano-pane { background: #004598!important; width: 4px; right: 3px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; border: none!important; }
.nano > .nano-pane > .nano-slider { left: -3px; width: 10px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #BE0033; }