@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'QuotesCaps';
  src: local('QuotesCaps-Regular'),
    url('../fonts/quotescaps-webfont.woff2') format('woff2'),
    url('../fonts/quotescaps-webfont.woff') format('woff'),
    url('../fonts/quotescaps-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/quotescaps-webfont.ttf') format('truetype'),
    url('../fonts/quotescaps-webfont.svg#quotes_capsregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: local('FontAwesome'),
    url("../fonts/fontawesome-webfont.woff?v=4.4.0") format('woff'),
    url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format('embedded-opentype'), 
    url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format('truetype'),
    url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format('svg');
  font-weight: normal;
  font-style: normal;
}


/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: top; background: transparent }
body { font-size: 16px; line-height: 1; color: #FFF; background: #EF3854; font-family: 'Open Sans', sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
ol, ul { list-style: none }
blockquote, q { quotes: none }
:focus { outline: 0 }
table { border-collapse: collapse; border-spacing: 0 }
a img { border: none }
* { margin: 0 }
.clear { clear: both; display: block; }
.last { margin-right: 0!important }
a:link, a:visited, a:hover, a:active { color: #FFF; text-decoration: none; }
*, *::after, *::before { box-sizing: border-box; }
input, select { border-radius: 0; }
html { -webkit-text-size-adjust: 100%; }
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

/*-----------------------------------------------------------------*/
/*-- GENERAL -----------------------------------------------------*/
.wrapper { position: relative; width: 100%; max-width: 900px; margin: 0 auto; padding: 0 2em; }
.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.fa-times:before { content: "\f00d"; }
.fa-comment:before { content: "\f075"; }
.fa-navicon:before { content: "\f0c9"; }

header, main, footer, #menu { font-size: 0.75em; }

@media only screen and (min-width: 480px) {
header, main, footer, #menu { font-size: 0.85em; }
}


header { position: fixed; top: 0; left: 0; z-index: 10; width: 100%; /*height: 70px;*/ }
header .btn { position: absolute; display: block; text-align: center; color: #FFF; font-family: 'QuotesCaps', sans-serif; top: 15px; font-size: 1.1em; text-transform: uppercase; }
header .btn:hover span { color: #EF3854; }
header .btn .fa { display: block; font-size: 1.9em; margin-bottom: 0.35em; }
header .menu-open { left: 1.25em; }
header .contacto { right: 1.25em; }
header, header .menu-open, header .contacto { -webkit-transition: all 0.25s ease; -moz-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; }

@media only screen and (min-width: 1000px) {
header .btn { top: 30px; font-size: 1.3em; }
header .menu-open { left: 4em; }
header .contacto { right: 4em; }
.scrolled header .btn { top: 15px; }
}

main { text-align: center; }
main h4 { font-family: "QuotesCaps"; color: #FFF; font-size: 1.4em; line-height: 1.2em; font-weight: normal; margin-bottom: 0.5em; }
footer { padding: 2em 0; }
footer p { text-align: center; font-size: 0.8em; line-height: 1.2em; max-width: 700px; margin: auto; }


/*-----------------------------------------------------------------*/
/*-- MENU --------------------------------------------------------*/
#menu { display: flex; width: 100%; height: 100%; display: flex; flex-direction: column; position: fixed; top: 0; left: 0; text-align: center; z-index: 30000; -webkit-transition: -webkit-transform 0.4s ease; transition: transform 0.4s ease; -webkit-transform: translate(-100%, 0); transform: translate(-100%, 0); }
html.menu-open #menu { -webkit-transform: translate(0, 0); transform: translate(0, 0); }
#menu nav { flex: 1; padding: 2em; margin: 2em 2em 2em 0; border-radius: 0 4em 4em 0; background: rgba(6, 94, 154, 0.95); display: flex; flex-direction: column; }
#menu .menu-close { color: #FFF; position: absolute; top: 1.5em; right: 1.75em; display: block; font-size: 2.5em; }
#menu .menu-close:hover { color: #E4E558; }
#menu .logo { width: 80px; height: auto; display: block; margin: 0 auto 2em auto; }

#menu ul { font-size: 1em; flex: 1; display: flex; flex-direction: column; justify-content: space-around; max-height: 480px; }
#menu ul li { font-family: 'QuotesCaps', sans-serif; font-size: 2em; }
#menu ul li a { display: block; }
#menu ul li.sel { color: #E4E558; }
#menu ul li.sel span::before { content: "* "; }
#menu ul li a:hover { color: #E4E558; }
#menu-blocker { -webkit-transition: -webkit-transform 0.4s ease; transition: transform 0.4s ease; background: rgba(0,0,0,0.3); display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 20000; }
html.menu-open #menu-blocker { display: block; }

@media only screen and (min-width: 480px) {
#menu { max-width: 400px; }
}


/*-----------------------------------------------------------------*/
/*-- TOLDO -------------------------------------------------------*/
body { background: #EF3854 url("../images/back-m.png"); background-size: 66.6px auto; background-position: top center; }
.toldo { position: relative; /*overflow: hidden;*/ width: 100%; background: #00BB9E url("../images/toldo-back.gif"); text-align: center; padding-bottom: 67px; }
.toldo::after { content: ""; height: 67px; width: 100%; position: absolute; left: 0; bottom: 0; background: url("../images/toldo-borde-m.png"); background-size: 200px auto; background-position: top center; margin: -1px 0; z-index: 0; }
.toldo .wrapper { padding-top: 3em; padding-bottom: 5em; }

.toldo .guir { position: absolute; top: 80px; width: 48%; height: 100%; background-repeat: no-repeat; background-position: top center; background-size: 100% auto; }
.toldo .guir-l { left: 0; background-image: url("../images/toldoguirnalda-l-m.png"); }
.toldo .guir-r { right: 0; background-image: url("../images/toldoguirnalda-r-m.png"); }

h1 { text-indent: -9999px; background: url("../images/logo-d.png") no-repeat; background-size: cover; }
#hom h1 { width: 120px; height: 94px; margin: 0 auto 3em auto; }
#int h1 { width: 75px; height: 59px; margin: 0.5em auto 0 auto; position: relative; z-index: 1; }
#int h1 a { display: block; width: 100%; height: 100%; }
.toldo p { font-size: 1.1em; line-height: 1.2em; max-width: 500px; margin: auto; }

@keyframes animation {
100%{ background-position: 0px 3000px; }
}

@media only screen and (min-width: 600px) {
.toldo p { font-size: 1.3em; }
.toldo .guir { top: 0; width: 40%; max-width: 450px; }
.toldo .guir-l { background-image: url("../images/toldoguirnalda-l-d.png"); }
.toldo .guir-r { background-image: url("../images/toldoguirnalda-r-d.png"); }
}

@media only screen and (min-width: 768px) {
body { background-size: 100px auto; background-image: url("../images/back-d.png"); }
.toldo { padding-bottom: 100px; background-size: 80% auto; }
.toldo::after { height: 100px; background-size: 300px auto; background-image: url("../images/toldo-borde-d.png"); }
.toldo .wrapper { padding-bottom: 4em; }

#hom h1 { width: 160px; height: 125px; margin-bottom: 1em; }
#int h1 { width: 160px; height: 125px; margin-top: 1em; }
.toldo p { font-size: 1.6em; }
}

@media only screen and (min-width: 900px) {
#hom h1 { width: 180px; height: 141px; }
}



/*-----------------------------------------------------------------*/
/*-- HOME --------------------------------------------------------*/
#hom .toldo .wrapper { padding-bottom: 3em; }
#hom .toldo::before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url("../images/toldo-anim.png") repeat-y; background-size: 200% auto; animation: animation 100s linear infinite; }
#hom h2 { font-family: "QuotesCaps"; font-weight: normal; color: #F5F68A; font-size: 2.2em; line-height: 1.2em; margin-bottom: 0.5em; }
#hom .anim-container { position: relative; width: 100%; padding-top: 123%; }
#hom .anim { position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
#hom .anim .owl-stage, #hom .anim .owl-stage-outer, #hom .anim .owl-carousel, #hom .anim .owl-item, #hom .anim .slide1, #hom .anim .slide2 { height: 100%; }
#hom .anim p { line-height: 1.2em; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#hom .anim p, #hom .anim a { font-family: 'QuotesCaps'; text-transform: uppercase; color: #FFF; }
#hom .anim a { display: inline-block; background: #EF3854; font-size: 1.1em; border: 2px solid #EF3854; padding: 0.6em 1.4em; border-radius: 0.6em; }
#hom .anim a:hover { color: #EF3854; background: #FFF; }
#hom .anim img { height: auto; position: absolute; }

#hom .anim .slide1 p, #hom .anim .slide2 p { margin: 0; transform: rotate(-3deg); -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); text-shadow: 3px 0 0 #EF3854, -3px 0 0 #EF3854, 0 3px 0 #EF3854, 0 -3px 0 #EF3854, 2px 2px #EF3854, -2px -2px 0 #EF3854, 2px -2px 0 #EF3854, -2px 2px 0 #EF3854; }
#hom .anim .slide1 p span, #hom .anim .slide2 p span { margin-top: 0.2em; text-shadow: 4px 0 0 #EF3854, -4px 0 0 #EF3854, 0 4px 0 #EF3854, 0 -4px 0 #EF3854, 3px 3px #EF3854, -3px -3px 0 #EF3854, 3px -3px 0 #EF3854, -3px 3px 0 #EF3854; }

#hom .anim .slide1 { display: flex; flex-direction: column; justify-content: center; align-items: center; }
#hom .anim .slide1 .content { position: relative; top: -10%; }
#hom .anim .slide1 p { font-size: 1.9em; max-width: 320px; }
#hom .anim .slide1 em { font-style: normal; display: block; max-width: 250px; margin: auto; }
#hom .anim .slide1 p span { display: block; font-size: 1.7em; line-height: 1.1em; }
#hom .anim .slide1 .btn-container { margin-top: 2em; }
#hom .anim .slide2 { display: flex; flex-direction: column; justify-content: space-between; align-items: center; }
#hom .anim .slide2 p { font-size: 1.7em; line-height: 1.6em; max-width: 280px; }
#hom .anim .slide2 p span { font-size: 1.4em; line-height: 1em; margin-top: 0.2em; }
#hom .anim .slide2 .img1 { width: 32%; left: 0; top: 20%; }
#hom .anim .slide2 .img2 { width: 27.5%; right: 0; top: 21%; }
#hom .anim .slide2 .img3 { width: 46%; left: 30%; top: 31.5%; }
#hom .anim .slide2 .img4 { width: 32%; left: 2%; top: 59.5%; }
#hom .anim .slide2 .img5 { width: 37.5%; right: 0; top: 65%; }


@media only screen and (min-width: 480px) {
#hom .anim-container { padding-top: 100%; }
#hom .anim .slide2 p { font-size: 1.8em; }
}

@media only screen and (min-width: 600px) {
#hom h2 { font-size: 3em; }
#hom .toldo::before { background-size: 150% auto; }
#hom .anim-container { padding-top: 35%; }
#hom .anim .slide1 .content { top: 0; }
#hom .anim .slide1 p { max-width: none; }
#hom .anim .slide1 em { max-width: none; }
#hom .anim .slide1 .btn-container { margin-top: 1.6em; }
#hom .anim .slide2 { justify-content: space-around; }
#hom .anim .slide2 p { font-size: 1.6em; }
#hom .anim .slide2 .img1 { width: 15.5%; left: 70%; top: 50%; }
#hom .anim .slide2 .img2 { width: 13.5%; right: 0; top: 51.5%; }
#hom .anim .slide2 .img3 { width: 31%; left: 0; top: 10%; }
#hom .anim .slide2 .img4 { width: 13.3%; left: 83%; top: 9%; }
#hom .anim .slide2 .img5 { width: 15.5%; left: 68%; right: auto; top: 3.5%; }
}

@media only screen and (min-width: 768px) {
#hom h2 { font-size: 4em; margin-bottom: 0.25em; }
#hom .anim .slide2 { justify-content: space-around; align-items: center; }
#hom .anim .slide2 p { font-size: 2em; }

#int .toldo { height: 220px; }
}

@media only screen and (min-width: 900px) {
#hom .toldo::before  { background-size: 100% auto; }
#hom .anim a { font-size: 1.3em; }
#hom .anim .slide1 p, #hom .anim .slide2 p { font-size: 2.4em; }
}




#int .site-container { min-height: 100vh; display: flex; flex-direction: column; overflow: hidden; }
#int main { flex: 1; position: relative; flex-direction: column; display: flex; justify-content: flex-start; align-items: flex-start; }
#int main .wrapper { flex: 1; display: flex; flex-direction: column; align-items: center; }
#int main h2 { max-width: 6em; font-family: "QuotesCaps"; font-weight: normal; text-transform: uppercase; margin-bottom: 0.75em; font-size: 2.5em; transform: rotate(-3deg); -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); text-shadow: 3px 0 0 #EF3854, -3px 0 0 #EF3854, 0 3px 0 #EF3854, 0 -3px 0 #EF3854, 2px 2px #EF3854, -2px -2px 0 #EF3854, 2px -2px 0 #EF3854, -2px 2px 0 #EF3854; }
#int main .nota { font-family: "QuotesCaps"; text-transform: uppercase; font-size: 1.6em; line-height: 1.2em; margin-bottom: 1.5em; }
#int main .textos { flex: 1; width: 100%; max-width: 580px; position: relative; z-index: 1; margin-bottom: 2em; }
#int main .textos p { font-size: 0.95em; line-height: 1.3em; margin-bottom: 1.2em; }

#int.premios main h2 { max-width: none; font-size: 3.4em; margin-bottom: 0.5em; }
#int.premios main .textos table { width: 100%; font-size: 1.2em; }
#int.premios main .textos table th, #int .textos table td { padding: .4em; }
#int.premios main .textos table th { font-weight: normal; font-family: "QuotesCaps"; text-transform: uppercase; font-size: 1.8em; padding: 0.4em 0.2em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-transform: uppercase; }
#int.premios main .textos table td { line-height: 1.2em; }
#int.premios main .textos table .codigo { text-align: right; }

#int.premios main .img { display: block; position: absolute; height: auto; z-index: 0; }
#int.premios main .img2, #int.premios main .img4 { display: none; }
#int.premios main .img1 { width: 16%; top: -1em; left: 12%; max-width: 70px; }
#int.premios main .img3 { width: 16%; top: -2em; right: 12%; max-width: 70px; }

#int.premios main .noganadoresContainer { padding: 0; display: flex; justify-content: center; align-items: center; }
#int.premios main .noganadoresContainer h4 { font-size: 3em; color: #F5F68A; }
#int.premios main .noganadoresContainer table { display: none; }

@media only screen and (min-width: 600px) {
#int.premios main .img1 { width: 16%; top: 0; left: 8%; max-width: 80px; }
#int.premios main .img3 { width: 16%; top: 2%; right: 10%; max-width: 80px; }
}

@media only screen and (min-width: 768px) {
#int main h2 { max-width: none; font-size: 3em; }
#int.premios main .img1 { width: 20%; top: 2%; left: 6%; max-width: 120px; }
#int.premios main .img3 { width: 20%; top: 4%; right: 8%; max-width: 120px; }
}

@media only screen and (min-width: 960px) {
#int.premios main .img1 { width: 20%; top: 1%; left: auto; right: 3%; max-width: 180px; }
#int.premios main .img2 { width: 20%; top: 3%; left: 3%; max-width: 160px; display: block; }
#int.premios main .img3 { width: 20%; top: auto; bottom: 8%; right: 2%; max-width: 160px; }
#int.premios main .img4 { width: 20%; bottom: 10%; left: 5%; max-width: 180px; display: block; }
}

@media only screen and (min-width: 1100px) {
#int.premios main .img1 { right: 5%; max-width: 220px; }
#int.premios main .img2 { left: 8%; max-width: 200px; }
#int.premios main .img3 { right: 4%; max-width: 200px; }
#int.premios main .img4 { left: 10%; max-width: 200px; }
}

@media only screen and (min-width: 1200px) {
#int.premios main .img1 { right: 11%; }
#int.premios main .img2 { left: 11%; }
#int.premios main .img3 { right: 10%; }
#int.premios main .img4 { left: 13%; }
}



/*-----------------------------------------------------------------*/
/*-- ELEMENTOS ---------------------------------------------------*/
#int .elems { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
#int .elems img { display: block; position: absolute; height: auto; width: 12%; max-width: 120px; }

#int .elems .pos1 { top: 30%; left: 10%; }
#int .elems .pos2 { top: 1%; left: 60%; }
#int .elems .pos3 { top: 2%; right: 5%; }
#int .elems .pos4 { top: 12%; left: 40%; }
#int .elems .pos5 { top: 8%; right: 32%; }
#int .elems .pos6 { top: 35%; right: 5%; }
#int .elems .pos7 { bottom: 38%; left: 5%; }
#int .elems .pos8 { top: 1%; left: 20%; }
#int .elems .pos9 { top: 5%; left: 15%; }
#int .elems .pos10 { bottom: 25%; right: 3%; }
#int .elems .pos11 { top: 2%; right: 16%; }
#int .elems .pos12 { top: 1%; left: 5%; }

@media only screen and (min-width: 768px) {
#int .elems .pos1 { top: 30%; left: 10%; }
#int .elems .pos2 { top: auto; bottom: 10%; left: auto; right: 10%; }
#int .elems .pos3 { top: 5%; right: 10%; }
#int .elems .pos4 { top: auto; bottom: 5%; left: 15%; }
#int .elems .pos5 { top: 8%; right: 1%; }
#int .elems .pos6 { top: 35%; right: 5%; }
#int .elems .pos7 { bottom: auto; top: 15%; left: 2%; }
#int .elems .pos8 { top: auto; bottom: 1%; left: 5%; }
#int .elems .pos9 { top: 45%; left: 1%; }
#int .elems .pos10 { bottom: 25%; right: 3%; }
#int .elems .pos11 { top: auto; bottom: 2%; right: 2%; }
#int .elems .pos12 { top: 3%; left: 10%; }
}

@media only screen and (min-width: 900px) {
#int .elems .pos1 { left: 18%; }
#int .elems .pos2 { right: 18%; }
#int .elems .pos3 { right: 17%; }
#int .elems .pos4 { left: 15%; }
#int .elems .pos5 { right: 8%; }
#int .elems .pos6 { right: 12%; }
#int .elems .pos7 { left: 2%; }
#int .elems .pos8 { left: 5%; }
#int .elems .pos9 { left: 6%; }
#int .elems .pos10 { right: 3%; }
#int .elems .pos11 { right: 12%; }
#int .elems .pos12 { left: 12%; }
}


/*-----------------------------------------------------------------*/
/*-- FORMULARIOS -------------------------------------------------*/
fieldset { margin: 0 auto; max-width: 300px; }
fieldset ul { margin: 0 auto!important; width: 100%; min-width: 260px; text-align: center; font-size: 0; }
fieldset ul li { font-size: 0.75rem; text-align: left; margin-bottom: 1.5em!important; }
fieldset ul li.btn { text-align: center; margin: 1em 0 0 0!important; }
fieldset ul li label { display: block; font-size: 1.1em; line-height: 1.3em; margin-bottom: 0.6em; }
fieldset ul li label em { font-style: normal; color: #FFD204; }
fieldset ul li input[type="text"], fieldset ul li input[type="email"], fieldset ul li input[type="date"], fieldset ul li select, fieldset ul li textarea { width: 100%; display: block; background: #FFF; border: none; height: 3em; line-height: 3em; padding: 0 1em; font-family: Arial, Helvetica, sans-serif; color: #333; font-size: 1.2em; border-radius: 1em; }
fieldset ul li textarea { resize: none; height: auto; line-height: 1.2em; padding: 0.5em 1em; height: 8em; }
fieldset .tel:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
fieldset .tel input[type="text"] { float: left; }
fieldset .tel .are { width: 25%; margin-right: 5%; }
fieldset .tel .num { width: 70%; }
fieldset .cod:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
fieldset .cod input[type="text"] { float: left; width: 30%; margin-right: 5%; }
fieldset .cod input[type="text"].last { margin-right: 0; }
fieldset .cod input[type="text"]::placeholder { color: #333; }
fieldset .cod p { clear: both; text-align: left!important; margin: 0!important; line-height: 1.2em!important; padding-top: 0.5em; font-style: italic; opacity: 0.8; }
fieldset .cod .env { display: inline-block; margin-top: 0.5em; text-decoration: underline; color: #FFF; }

fieldset input[type="submit"], a.main-btn { border: none; display: inline-block; background: #00BB9E; font-family: 'QuotesCaps'; color: #FFF; font-size: 2em; padding: 0.3em 3em; text-transform: uppercase; margin: 0 auto; cursor: pointer; border-radius: 0.5em; }
fieldset input[type="submit"]:hover, a.main-btn:hover { background: #009982; }

fieldset .radio-item label { cursor: pointer; font-size: 1em; line-height: 1.4em; padding-left: 2.2em; position: relative; text-transform: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
fieldset .radio-item input { position: absolute; opacity: 0; cursor: pointer; }
fieldset .radio-item .checkmark { display: block; position: absolute; top: 0; left: 0; height: 20px; width: 20px; background: #FFD204; border-radius: 50%; }
fieldset .radio-item:hover input ~ .checkmark { background: #00BB9E; }
fieldset .radio-item.checkmark:after { content: ""; position: absolute; display: none; }
fieldset .radio-item input:checked ~ .checkmark:after { display: block; }
fieldset .radio-item .checkmark:after { top: 7px; left: 7px; width: 6px; height: 6px; border-radius: 50%; background: #000; content: ""; position: absolute; display: none; }
fieldset .g-recaptcha-parent { width: 240px; }
fieldset .g-recaptcha { transform: scale(0.75); position: relative; left: -35px; top: -10px; }

fieldset .field-validation-error { font-size: 0.9em; display: block; background: #FFB432; color: #000; padding: 0.3em 1em; border-radius: 1em; margin-top: 0.4em; }

@media only screen and (min-width: 660px) {
fieldset .radio-item .checkmark { background: #FFD204; }
fieldset .radio-item:hover input ~ .checkmark { background: #F8A81E; }
}

@media only screen and (min-width: 768px) {
fieldset { width: 100%; max-width: none; }
fieldset ul { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; }
fieldset ul li { font-size: 0.85rem; width: 48%; }
fieldset ul li.wide { width: 100%; }
fieldset ul li.wide .campos { width: 48%; }
fieldset ul li.left { float: left; }
fieldset ul li textarea { height: 5em; }
}


.center-content { display: flex; flex-direction: column; align-items: center; justify-content: center; }
#int main .textos.gracias p { font-size: 1.5em; margin-bottom: 2em; }
#int main .textos.gracias .volver { margin: 0; }

#int.pregunta main h2 { max-width: none; font-size: 3.4em; margin-bottom: 1em; }
#int.pregunta main p { font-size: 1.4em; line-height: 1.2em; margin-bottom: 2em; }
#int.pregunta main fieldset { max-width: none; }
#int.pregunta main .radio-buttons { max-width: 360px; margin: 0 auto 3em auto; }
#int.pregunta main .radio-buttons label { display: block; text-align: left; position: relative; padding-left: 2.6em; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 1.2em; padding-top: 0.3em; margin-bottom: 1.5em; }
#int.pregunta main .radio-buttons input { position: absolute; opacity: 0; cursor: pointer; }
#int.pregunta main .radio-buttons .checkmark { display: block; position: absolute; top: 0; left: 0; height: 26px; width: 26px; background: #F8A81E; border-radius: 50%; }
#int.pregunta main .radio-buttons label:hover input ~ .checkmark { background: #00BB9E; }
#int.pregunta main .radio-buttons label.checkmark:after { content: ""; position: absolute; display: none; }
#int.pregunta main .radio-buttons label input:checked ~ .checkmark:after { display: block; }
#int.pregunta main .radio-buttons label .checkmark:after { top: 9px; left: 9px; width: 8px; height: 8px; border-radius: 50%; background: #FFF; content: ""; position: absolute; display: none; }
#int.pregunta main fieldset input[type="submit"] { border-radius: 0.8em; padding: 0.3em 2em; }

#int.respuesta main .wrapper { justify-content: center; }
#int.respuesta main .contenido { max-width: 22em; margin: 0 auto; }
#int.respuesta main h3 { font-family: "QuotesCaps"; font-weight: normal; text-transform: uppercase; margin-bottom: 0.75em; font-size: 3.4em; line-height: 1.2em; transform: rotate(-3deg); -webkit-transform: rotate(-3deg); -moz-transform: rotate(-3deg); -ms-transform: rotate(-3deg); -o-transform: rotate(-3deg); text-shadow: 3px 0 0 #EF3854, -3px 0 0 #EF3854, 0 3px 0 #EF3854, 0 -3px 0 #EF3854, 2px 2px #EF3854, -2px -2px 0 #EF3854, 2px -2px 0 #EF3854, -2px 2px 0 #EF3854; }
#int.respuesta main h3 span { display: block; font-size: 0.7em; line-height: 1.2em; margin-top: 0.6em; }
#int.respuesta main p { max-width: 30em; margin: 0 auto; font-size: 1.2em; line-height: 1.2em; text-transform: uppercase; }
#int.respuesta main p strong { margin-top: 0.3em; font-weight: normal; display: block; font-family: "QuotesCaps"; text-transform: uppercase; font-size: 3em; line-height: 1.2em; text-shadow: 3px 0 0 #EF3854, -3px 0 0 #EF3854, 0 3px 0 #EF3854, 0 -3px 0 #EF3854, 2px 2px #EF3854, -2px -2px 0 #EF3854, 2px -2px 0 #EF3854, -2px 2px 0 #EF3854; }

#int.respuesta main .gan .contenido { max-width: 26em; }
#int.respuesta main h3 { font-size: 2.8em; }
#int.respuesta main .gan h3 span { font-size: 1em; line-height: 1.2em; margin-top: 0.2em; }
#int.respuesta main .gan .premioImg { display: block; width: 100%; max-width: 20em; margin: auto; margin-bottom: 0.5em; }
#int.respuesta main .gan p { text-transform: none; font-size: 1em; max-width: 40em; }
#int.respuesta main .gan p strong { font-size: 2em; margin-top: 1em; }

#int.respuesta main .flecha { display: none; }

@media only screen and (min-width: 768px) {
#int.respuesta main .contenido { max-width: none; }
#int.respuesta main h3 { font-size: 4em; }
#int.respuesta main h3 span { font-size: 0.65em; margin-top: 0.2em; }
#int.respuesta main p { font-size: 1.5em; line-height: 1.2em; }
#int.respuesta main p strong { font-size: 3.4em; }

#int.respuesta main .gan .premiobox { position: relative; display: flex; }
#int.respuesta main .gan .box1, #int.respuesta main .gan .box2 { flex: 1; display: flex; align-items: center; justify-content: center; }
#int.respuesta main .gan h3 { font-size: 3.6em!important; }
#int.respuesta main .gan .premioImg { max-width: 28em; }
#int.respuesta main .flecha { display: block; position: absolute; bottom: 2em; left: 37%; width: 16%; height: auto; }


#int.respuesta main .gan1 h3 span { color: #E4E649; text-shadow: 4px 0 0 #F05165, -4px 0 0 #F05165, 0 4px 0 #F05165, 0 -4px 0 #F05165, 3px 3px #F05165, -3px -3px 0 #F05165, 3px -3px 0 #F05165, -3px 3px 0 #F05165; }
#int.respuesta main .gan2 h3 span { color: #64418A; text-shadow: 4px 0 0 #FBE72C, -4px 0 0 #FBE72C, 0 4px 0 #FBE72C, 0 -4px 0 #FBE72C, 3px 3px #FBE72C, -3px -3px 0 #FBE72C, 3px -3px 0 #FBE72C, -3px 3px 0 #FBE72C; }
#int.respuesta main .gan3 h3 span { color: #4CA11B; text-shadow: 4px 0 0 #FFF, -4px 0 0 #FFF, 0 4px 0 #FFF, 0 -4px 0 #FFF, 3px 3px #FFF, -3px -3px 0 #FFF, 3px -3px 0 #FFF, -3px 3px 0 #FFF; }
#int.respuesta main .gan4 h3 span { color: #5FCFE0; text-shadow: 4px 0 0 #562780, -4px 0 0 #562780, 0 4px 0 #562780, 0 -4px 0 #562780, 3px 3px #562780, -3px -3px 0 #562780, 3px -3px 0 #562780, -3px 3px 0 #562780; }
}

@media only screen and (min-width: 1000px) {
#int.respuesta main h3 { font-size: 4.5em; }
}


/*-----------------------------------------------------------------*/
/*-- PLUG-INS ----------------------------------------------------*/
/* Nano Scroller */
.nano { position: relative; width: auto; height: 100%; overflow: hidden; }
.nano > .nano-content { position: absolute; overflow: scroll; overflow-x: hidden; top: 0; right: 0; bottom: 0; left: 0; }
.nano > .nano-content:focus { outline: thin dotted; }
.nano > .nano-content::-webkit-scrollbar { display: none; }
.has-scrollbar > .nano-content::-webkit-scrollbar { display: block; }
.nano > .nano-pane { background: rgba(0,0,0,.25); position: absolute; width: 10px; right: 0; top: 0; bottom: 0; visibility: hidden\9; opacity: .01; -webkit-transition: .2s; -moz-transition: .2s; -o-transition: .2s; transition: .2s; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.nano > .nano-pane > .nano-slider { position: relative; }
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed { visibility: visible\9!important; opacity: 0.99; }
.nano .nano-content { padding-right: 20px; }
.nano .nano-pane { background: #5E5E5E; border: 2px solid #5E5E5E; }
.nano .nano-slider { background: #8D8D8D; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }

@media only screen and (min-width: 768px) {
.nano .nano-content { padding-right: 40px; }
}


/* Owl Carousel */
.owl-carousel { display: none; width: 100%; -webkit-tap-highlight-color: transparent; position: relative; z-index: 1; }
.owl-carousel .owl-stage { position: relative; -ms-touch-action: pan-Y; touch-action: manipulation; -moz-backface-visibility: hidden; backface-visibility: hidden; }
.owl-carousel .owl-stage:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.owl-carousel .owl-stage-outer { position: relative; overflow: hidden; -webkit-transform: translate3d(0px, 0px, 0px); transform: translate3d(0px, 0px, 0px); }
.owl-carousel .owl-wrapper, .owl-carousel .owl-item { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.owl-carousel .owl-item { position: relative; min-height: 1px; float: left; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; }
.owl-carousel .owl-item img { display: block; width: 100%; }
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled { display: none; }
.owl-carousel .owl-nav .owl-prev, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-dot { cursor: pointer; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot { background: none; color: inherit; border: none; padding: 0!important; font: inherit; }
.owl-carousel.owl-loaded { display: block; }
.owl-carousel.owl-loading { opacity: 0; display: block; }
.owl-carousel.owl-hidden { opacity: 0; }
.owl-carousel.owl-refresh .owl-item { visibility: hidden; }
.owl-carousel.owl-drag .owl-item { -ms-touch-action: pan-y; touch-action: pan-y; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.owl-carousel.owl-grab { cursor: move; cursor: grab; }
.owl-carousel.owl-rtl { direction: rtl; }
.owl-carousel.owl-rtl .owl-item { float: right; }
.no-js .owl-carousel { display: block; }
.owl-carousel .animated { animation-duration: 1000ms; animation-fill-mode: both; }
.owl-carousel .owl-animated-in { z-index: 0; }
.owl-carousel .owl-animated-out { z-index: 1; }
.owl-height { transition: height 500ms ease-in-out; }

#hom .anim .animated  { -webkit-animation-duration: 0ms!important; animation-duration: 0ms!important; -webkit-animation-fill-mode: both!important; animation-fill-mode: both!important; }
#hom .anim .fadeOut { -webkit-animation-name: homeFadeOut; animation-name: homeFadeOut; }  

@-webkit-keyframes homeFadeOut  {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes homeFadeOut {
0% { opacity: 0; }  
100% { opacity: 0; }
}




/*--------------------------------------------------------------*/
/*-- OVERRIDE PLUGINS -----------------------------------------*/
/* Nano Scroller */
.nano { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.nano .nano-pane { background: rgba(255, 255, 255, 0.2); border-color: rgba(255, 255, 255, 0.05); }
.nano .nano-slider { background: rgba(255, 255, 255, 0.4); }