
@{ ViewData["Title"] = "Gano"; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a "A Todo Bagley"</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
<!-- [if lt IE 9]>
<script type="text/javascript" src="~/scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="~/scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="~/scripts/jQuery.js"></script>
</head>
<body id="int" class="respuesta">
  <div class="site-container">
    <header>
      <a href="javascript;" class="btn menu-open"><span class="fa fa-navicon"></span>Menú</a>
      <a href="~/Contacto.aspx" class="btn contacto"><span class="fa fa-comment"></span>Contacto</a>
    </header>
    <section class="toldo">
      <h1><a href="~/">A Todo Bagley</a></h1>
    </section>
    <main class="conElems">
      <div class="wrapper">
				@* PREMIO 1 *@
        <div class="contenido gan gan1">
          <div class="premiobox">
            <div class="box1"><h3>Felicitaciones! <span>Sos el potencial ganador de 1</span></h3></div>
            <div class="box2"><img src="../images/premio-gan1.png" alt="Combo campamento" class="premioImg" /></div>
            <img src="../images/premio-gan1-flecha.png" class="flecha" />
          </div>
          <p>Si cumplís con los requisitos detallados en las bases legales de la promoción un representante se comunicará con vos.<br /><strong>Guardá el pack. Te llamaremos.</strong></p>
        </div>
      </div>
			@* PREMIO 2 *@
			@* <div class="contenido gan gan2">
        <div class="premiobox">
          <div class="box1"><h3>Felicitaciones! <span>Sos el potencial ganador de 1</span></h3></div>
          <div class="box2"><img src="../images/premio-gan2.png" alt="Combo Paseo" class="premioImg" /></div>
          <img src="../images/premio-gan2-flecha.png" class="flecha" />
        </div>
        <p>Si cumplís con los requisitos detallados en las bases legales de la promoción un representante se comunicará con vos.<br /><strong>Guardá el pack. Te llamaremos.</strong></p>
      </div> *@
			@* PREMIO 3 *@
			@* <div class="contenido gan gan3">
        <div class="premiobox">
          <div class="box1"><h3>Felicitaciones! <span>Sos el potencial ganador de 1</span></h3></div>
          <div class="box2"><img src="../images/premio-gan3.png" alt="Combo Gamer" class="premioImg" /></div>
          <img src="../images/premio-gan3-flecha.png" class="flecha" />
        </div>
        <p>Si cumplís con los requisitos detallados en las bases legales de la promoción un representante se comunicará con vos.<br /><strong>Guardá el pack. Te llamaremos.</strong></p>
      </div> *@
			@* PREMIO 4 *@
			@* <div class="contenido gan gan4">
        <div class="premiobox">
          <div class="box1"><h3>Felicitaciones! <span>Sos el potencial ganador de 1</span></h3></div>
          <div class="box2"><img src="../images/premio-gan4.png" alt="Combo Tarde en Casa" class="premioImg" /></div>
          <img src="../images/premio-gan4-flecha.png" class="flecha" />
        </div>
        <p>Si cumplís con los requisitos detallados en las bases legales de la promoción un representante se comunicará con vos.<br /><strong>Guardá el pack. Te llamaremos.</strong></p>
      </div> *@
    </main>
  </div>
  <footer>
    <div class="wrapper">
      <p>SIN OBLIGACIÓN DE COMPRA. VÁLIDA DEL 15/02/2021 AL 15/4/2021. CONSULTA LA INFORMACIÓN EN LAS BASES Y CONDICIONES EN ESTA WEB. INGRESANDO DATOS PERSONALES Y DATOS DEL PRODUCTO PARTICIPÁ POR PREMIOS OFRECIDOS.<br />
      CONSERVE LOS ENVASES DE PRODUCTOS INGRESADOS.</p>
    </div>
  </footer>
  <div id="menu-blocker"></div>
  <div id="menu">
    <nav>
      <a href="javascript;" class="menu-close"><span class="fa fa-times"></span></a>
      <img src="images/logo-bagley.png" alt="Bagley" class="logo">
      <ul>
        <li><a href="~/"><span>Home</span></a></li>
        <li><a href="~/Carga/CargarCodigo"><span>Cargá<br />tu código</span></a></li>
        <li><a href="~/Bases"><span>Bases<br />y condiciones</span></a></li>
        <li><a href="~/Premios"><span>Listado<br />de premios</span></a></li>
        <li><a href="~/FAQs"><span>Preguntas<br />frecuentes</span></a></li>
        <li><a href="~/Contacto"><span>Contacto</span></a></li>
      </ul>
    </nav>
  </div>
</body>
</html>