
@{
    ViewData["Title"] = "Gano";
}

<!doctype html>
<html class="scroll">
<head>
    <meta charset="UTF-8">
    <title>Bienvenidos a la promo Topline Seven</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <link href="~/css/estilos.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="scripts/html5shiv.min.js"></script>
    <script type="text/javascript" src="scripts/respond.min.js"></script>
    <![endif] -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/js/jQuery.plugins.js"></script>
    <script type="text/javascript" src="~/js/jQuery.js"></script>
</head>
<body id="int">
    <form id="form1" runat="server">
        <header>
            <h1><a href="Default.aspx">Promo "Topline Seven"</a></h1>
            <a href="#" class="menu-open">Menú</a>
        </header>
        <div id="menu-blocker"></div>
        <nav id="menu">
            <a href="#" class="menu-close">Cerrar menú</a>
            <img src="~/images/logo-promo.png" alt="Promo Topline Seven" class="logo" />
            <ul>
                <li><a href="Default.aspx">Home</a></li>
                <li><a href="Cargar.aspx">Carg&aacute;<br />tu c&oacute;digo</a></li>
                <li><a href="Bases.aspx">Bases<br />y condiciones</a></li>
                <li><a href="Premios.aspx">Listado<br />de premios</a></li>
                <li><a href="FAQs.aspx">Preguntas<br />frecuentes</a></li>
                <li><a href="Contacto.aspx">Contacto</a></li>
            </ul>
        </nav>
        <img src="~/images/intro-slide1.png" alt="Podés ganar $1.000.000 y premios espectaculares" class="coin" />
        <main>
            @*<div class="container">
                <div class="textos notitle">
                    <div class="static juego final">
                        <asp:literal id="lt" runat="server"></asp:literal>
                        <asp:button cssclass="datos multi" id="cmdCargar" runat="server" text="Complet&aacute; el resto de los datos" validationgroup="CARGA" />
                        <p>Si cumpl&iacute;s con los requisitos detallados en las bases y condiciones. Un representante de Atenci&oacute;n al Cliente se comunicar&aacute; con vos.<br />Guard&aacute; el pack.</p>
                    </div>
                </div>
            </div>*@
        </main>
        <footer>
            <p>
                SIN OBLIGACI&Oacute;N DE COMPRA. V&Aacute;LIDA DEL 18/05/20 AL 13/09/20. CONSULTE LA INFORMACI&Oacute;N EN LAS BASES Y CONDICIONES EN ESTA WEB. INGRESANDO DATOS PERSONALES Y DATOS DEL PRODUCTO PARTICIPA POR PREMIOS OFRECIDOS.<br />
                CONSERVE LOS ENVASES DE PRODUCTOS INGRESADOS.
            </p>
        </footer>
    </form>
</body>
</html>




