@{ ViewData["Title"] = "Perdio"; }
<!doctype html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Bienvenidos a la promo Mundo Mogul</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=no">
<link href="css/estilos.css" rel="stylesheet" type="text/css" />
<!--[if lt IE 9]>
<script type="text/javascript" src="scripts/html5shiv.min.js"></script>
<script type="text/javascript" src="scripts/respond.min.js"></script>
<![endif] -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="scripts/jQuery.plugins.js"></script>
<script type="text/javascript" src="scripts/jQuery.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body id="int" class="res">
  <div class="site-container">
    <header>
      <h1><a href="Default.aspx">Bienvenidos a la promo Mundo Mogul</a></h1>
    </header>
    <div class="botones">
      <div class="wrapper">
        <a href="#" class="open-menu">Men&uacute;</a>
        <a href="Contacto.html" class="btn-contacto">Contacto</a>
      </div>
    </div>
    <main>
      <div class="wrapper">
        <div class="text-box">
          <div class="textos gan gan0">
            <div class="nano">
              <div class="nano-content">
                <div class="contenido">
                  <h3>Esta vez no resultaste ganador<span>Tu respuesta es incorrecta</span></h3>
                  <h4>Pero ya estás participando para el sorteo final por</h4>
                  <img src="images/premio-premio0.png" alt="1 año de Mogul para compartir" />
                  <p><strong>Guardá el pack o la raspadita.</strong></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <img src="images/main-img2.png" class="img img1" />
      </div>
    </main>
  </div>
  <footer>
    <div class="wrapper">
      <p>Sin obligaci&oacute;n de compra, v&aacute;lido del 02/03/20 al 30/04/20<br />Para m&aacute;s informaci&oacute;n consulte bases en el men&uacute; de esta p&aacute;gina web.</p>
    </div>
  </footer>
  <div id="menu-blocker"></div>
  <div id="menu">
    <nav>
      <a href="#" class="menu-close">Cerrar</a>
      <img src="images/logo-menu.png" alt="Promo Poosh!" class="logo">
      <ul>
        <li><a href="Default.aspx">Home</a></li>
        <li class="sel"><span>Carg&aacute; tu c&oacute;digo</span></li>
        <li><a href="Bases.aspx">Bases y condiciones</a></li>
        <li><a href="Premios.aspx">Listado de premios</a></li>
        <li><a href="FAQs.aspx">Preguntas frecuentes</a></li>
        <li><a href="Contacto.aspx">Contacto</a></li>
      </ul>
    </nav>
  </div>
</body>
</html>